.client_section {
    .heading_container {
      margin-bottom: 30px;
    }
  
    .box {
      display: flex;
      flex-direction: column;
      margin: 15px;
  
      .img-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: right;
        width: 115px;
        position: relative;
        margin-top: 30px;

  
        img {
          border-radius: 50%;
          border: 5px solid $primary1;
          position: relative;
        align-items: right;

        }
  
        &::before {
          content: "";
          position: absolute;
          left: 50%;
          top: 0;
          width: 20px;
          height: 20px;
          background-color: $primary1;
          transform: rotate(45deg) translateX(-50%);
        }
      }
  
      .detail-box {
        background-color: $primary2;
        color: $white;
        padding: 25px 25px 15px 25px;
        border-radius: 5px;
  
        h6 {
          font-weight: 600;
          font-size: 18px;
          margin: 15px 0 5px 0;
        }
  
        p {
          margin-bottom: 0;
          font-size: 15px;
          margin-bottom: 10px;
        }
      }
    }
  
    .owl-carousel {
      .owl-nav {
        display: flex;
        justify-content: center;
        margin-top: 45px;
        padding: 0 15px;
  
        .owl-prev,
        .owl-next {
          width: 45px;
          height: 45px;
          background-color: $primary1;
          color: $white;
          outline: none;
          bottom: 0px;
          font-size: 24px;
          margin: 0 5px;
          border-radius: 100%;
        }
      }
    }
  }
  